{% extends 'estructura.html' %}
{% block contenido %}
    <form method="POST" action="/tarjeta/update?id={{tarjeta.id}}" enctype='multipart/form-data'>
        Nuevo tipo: <input type="text" name="tipo" value="{{tarjeta.tipo}}"><br>
        Nuevo numero: <input type="text" name="numero" value="{{tarjeta.numero}}"><br>
        Nuevo Cod.Seguridad: <input type="text" name="cods" value="{{tarjeta.cods}}"><br>
        Nuevo mes: <input type="text" name="mes" value="{{tarjeta.mes}}"><br>
        Nuevo año: <input type="text" name="año" value="{{tarjeta.año}}"><br>
        Nuevo Monto Maximo: <input type="text" name="montomax" value="{{tarjeta.montomax}}"><br>
        <input type="submit" value="Actualizar">
    </form>
{% endblock %}
