{% block body %}
<link href="{{ url_for('static', filename='login.css') }}" rel="stylesheet">
{% if session['logged_in'] %}

You're logged in already!

{% else %}
<section class="registro">
  <form action="/login" method="POST">
    <input class="controles" type="username" name="username" placeholder="Username">
  <input class="controles" type="password" name="password" placeholder="Password">
  <input class="controles" type="submit" value="Log in">
  </form>
</section>
{% endif %}
{% endblock %}